<head>
	<title> CHris Zhu's app</title>
</head>

<body>
  <p> <%= title %> </p>
  <form method="GET" action="/stats">
      <input type="text" name="summoners">
      <input type="submit" value="Search">
  </form> 
</body>